.container{
  display: flex;
}

.sideBar-container{
  width: 360px;

}

.second-container{
  width: 100%;
 padding-top: 64px;
 padding-bottom: 64px;
 
}

.second{
  width: 231px;
  display: flex;
  position: relative;
  margin: auto;
  margin-bottom: 20px;
 gap: 8px;
 
}

.SideBar-price{
  color: var(--Black, #0D0F52);
font-family: "Proxima Nova";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 133.333% */
}

.second-ballance{
  color: var(--Black, #0D0F52);
font-family: "Proxima Nova";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */

display: flex;
}

.second-ballance-child{
  flex-grow: 1;
}

.payment-method{
  display: flex;
  width:231px ; 
  gap: 8px ;
  position: relative;
  margin: auto;
  margin-bottom: 40px;
 
}
.Slider-deposit{
  display: flex;
padding: 14px 24px;
flex-direction: column;
align-items: center;
gap: 10px;
flex: 1 0 0;
border-radius: 42px;
background: var(--Primary, #2D91FE);
}
.Slider-deposit-text{
  color: var(--White, #FFF);
text-align: center;
font-family: "Proxima Nova";
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 142.857% */
}
.Slider-withdraw{
  display: flex;
padding: 14px 24px;
flex-direction: column;
align-items: center;
gap: 10px;
flex: 1 0 0;
border-radius: 42px;
border: 1px solid #E5E5F3;
background: var(--White, #FFF);
}
.Slider-withdraw-text{
  color: var(--Black, #0D0F52);
font-family: "Proxima Nova";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: 0.14px;
}

.second-notice{
  display: flex;
  width:231px ; 
  gap: 8px ;
  position: relative;
  margin: auto;
}

.second-notice-text{
  color: var(--Black, #0D0F52);
font-family: "Proxima Nova";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: 0.14px;
opacity: 0.5;
}

.third-container{
width: 195px;
position: relative;
margin: auto;
padding-top: 50px;
padding-bottom: 50px;
}

.third-text{
  color: var(--Black, #0D0F52);
text-align: center;

/* Regular 17 (bold) */
font-family: "Proxima Nova";
font-size: 17px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 141.176% */
margin-top: 40px;
margin-bottom: 28px;
}

.third-text-dis{
  color: var(--Black, #0D0F52);
text-align: center;

/* Regular 14 */
font-family: "Proxima Nova";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: 0.21px;
opacity: 0.5;
}


.header-container{
  height: 132px;
  padding-left: 64px;
  padding-right: 64px;
  display: flex;
  justify-content: space-between;
 

}

.header-link{
  display: flex;
  gap: 56px;
  padding-top: 55px;
  padding-bottom: 55px;
}

.header-link-text{
  color: var(--Black, #0D0F52);

/* Regular 17 */
font-family: "Proxima Nova";
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 141.176% */
}
.header-link-text-active{
  color: var(--Black, #0D0F52);

/* Regular 17 */
font-family: "Proxima Nova";
font-size: 17px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 141.176% */
}

.header-menu{
  display: flex;
  gap:50px;
  padding-top: 55px;
  padding-bottom: 55px;
  align-items: center;
}

.header-menu-text{
  color: var(--Black, #0D0F52);
font-family: "Proxima Nova";
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 141.176% */
opacity: 0.5;
}
.header-bell{
  position: relative;
  /* background-color: aqua; */
}
.header-bell-count{
  display: flex;
width: 16px;
height: 16px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;

color: var(--White, #FFF);
text-align: center;
font-family: "Proxima Nova";
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: normal;
background-color: #2D91FE;
border-radius: 10px;
position: absolute;
right: -5px;
bottom: 0;
}

.body{
  
  width: 100%;
}

.content-top{
  display: flex;
  margin-left:65px ;
  margin-right:65px ;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 50px;

  border-radius: 16px;
border: 1px solid #E5E5F3;
background: var(--White, #FFF);

}
.Content-second-container{
 
  width: 80%;
  
}

.Content-conservation{
  width: 182px;
  height: 168px;
  border-radius: 16px;
border: 1px solid var(--Primary, #2D91FE);
background: radial-gradient(1191.32% 115.38% at 96.39% 8.75%, #2DA5FE 0%, #218AF5 100%);

/* 1 */
box-shadow: 0px 32px 26px -20px rgba(35, 120, 207, 0.25);


}

.Content-conservation-title{
  color: var(--White, #FFF);

/* Regular 17 (bold) */
font-family: "Proxima Nova";
font-size: 17px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 141.176% */
position: relative;
margin: auto;
text-align: center;
padding-top: 20px;

}

.Content-conservation-num{
  color: var(--White, #FFF);

/* Title */
font-family: "Proxima Nova";
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 133.333% */
text-align: center;
margin-top: 20px;

}

.Content-conservation-val{
  color: var(--White, #FFF);

/* Regular 14 */
font-family: "Proxima Nova";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: 0.21px;
text-align: center;

}

.Content-tab{
display: flex;
justify-content: space-between;
margin-top: 20px;
width: 480px;
}
.Content-active{
  color: var(--Green, #80CB17);

/* Regular 17 (bold) */
font-family: "Proxima Nova";
font-size: 17px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 141.176% */
}
.Content-St{
  color: var(--Black, #0D0F52);

/* Regular 14 */
font-family: "Proxima Nova";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: 0.21px;
opacity: 0.3;

}

.Content-val{
  color: var(--Black, #0D0F52);

/* Regular 17 (bold) */
font-family: "Proxima Nova";
font-size: 17px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 141.176% */
}

.content-tab-bot{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

width: 100%;

}
.Content-setting{
  display: inline-flex;
align-items: flex-start;
gap: 12px;
}

.Content-stop{
  display: flex;
padding: 14px 24px;
flex-direction: column;
align-items: center;
gap: 10px;

border-radius: 42px;
background: var(--Red, #FF6769);

color: var(--White, #FFF);
text-align: center;
font-family: "Proxima Nova";
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 142.857% */
}

.Content-change{
  display: flex;
padding: 14px 24px;
flex-direction: column;
align-items: center;
gap: 10px;

border-radius: 42px;
border: 1px solid #E5E5F3;
background: var(--White, #FFF);

color: var(--Black, #0D0F52);
font-family: "Proxima Nova";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: 0.14px;
}

.content-mid{
  display: flex;
  flex-wrap: wrap;
  gap:50px;
}
.content-mid-first{
border-radius: 16px;
width: 564px;
margin-top: 32px;
margin-left: 64px;
border: 1px solid var(--Border-gray, #E5E5F3);
background: var(--White, #FFF);
}
.content-mid-first p{
  font-family: Proxima Nova;
font-size: 24px;
font-weight: 700;
line-height: 32px;
text-align: left;
margin-top: 40px;
margin-left: 48px;

}
.content-mid-second{
  border-radius: 16px;
  width: 464px;
  margin-top: 32px;
  margin-left: 64px;
  border: 1px solid var(--Border-gray, #E5E5F3);
  background: var(--White, #FFF);
  }
  .content-mid-second p{
    font-family: Proxima Nova;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  margin-top: 40px;
  margin-left: 48px;
  
  }
  .bottom-title{
    color: var(--Black, #0D0F52);
    font-family: Proxima Nova;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    margin-top: 72px;
    margin-bottom: 30px;
  }
  
  .wrap{
    display: flex;
    justify-content: space-between;
  }
  .borderBottom{
    border-bottom: #E5E5F3 solid 1px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  }
  .bottom{
    margin-left:65px ;
    margin-right:65px ;
    /* padding-left: 40px;
    padding-right: 40px; */
  }
  
  .bottom-question{
    color: var(--Black, #0D0F52);
    font-family: Proxima Nova;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    
  }
  .bottom-description{
    color: var(--Black, #0D0F52);
    font-family: Proxima Nova;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    padding: 30px;
  }
  .hide{
    display: none;
  }